
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Chapter Install: Umineko Question Arcs</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/theme.css" rel="stylesheet" type="text/css" media="all" />
		<link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
		<link href="style.css" rel="stylesheet" type="text/css" media="all" />
        <link href='https://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
    </head>
    <body>
				
		<div class="nav-container">
		    <nav>
		        <div class="nav-bar">
		            <div class="module left">
		                <a href="index.html">
		                    <img class="logo logo-dark" alt="07th-Mod Installer" src="img/logo-07th.png">
		                </a>
		            </div>
		            <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
		                <i class="ti-menu"></i>
		            </div>
		            <div class="module-group right">
		                <div class="module left">
		                    <ul class="menu">
		                        
		                        <li class="has-dropdown">
		                            <a href="higurashi.html" target="_self">Higurashi When They Cry</a>
		                            <ul class="mega-menu">
		                                <li>
		                                    <ul>
		                                        <li>
		                                            <span class="title">Question Arcs</span>
		                                        </li>
		                                        <li>
		                                            <a onclick="setModNameAndNavigate('Onikakushi Ch.1')" target="_self">Ch.1 Onikakushi</a>
		                                        </li><li>
		                                            <a onclick="setModNameAndNavigate('Watanagashi Ch.2')" target="_self">Ch.2 Watanagashi</a>
		                                        </li><li>
		                                            <a onclick="setModNameAndNavigate('Tatarigoroshi Ch.3')" target="_self">Ch.3 Tatarigoroshi</a>
		                                        </li><li>
		                                            <a onclick="setModNameAndNavigate('Himatsubushi Ch.4')" target="_self">Ch.4 Himatsubushi</a>
		                                        </li>
		                                    </ul>
		                                </li>
		                                <li>
		                                    <ul>
		                                        <li>
		                                            <span class="title">Answer Arcs</span>
												</li>
												<li>
		                                            <a onclick="setModNameAndNavigate('Meakashi Ch.5')" target="_self">Ch.5 Meakashi</a>
		                                        </li>
		                                        <li>
		                                            <a onclick="setModNameAndNavigate('Tsumihoroboshi Ch.6')" target="_self">Ch.6 Tsumihoroboshi</a>
		                                        </li>
		                                    </ul>
										</li>
										<li>
		                                    <ul>
		                                        <li>
		                                            <span class="title">Console Arcs</span>
		                                        </li>
		                                        <li>
		                                            <a onclick="setModNameAndNavigate('Console Arcs')" target="_self">All Chapters</a>
		                                        </li>
		                                    </ul>
		                                </li>
		                            </ul>
								</li>
								<li class="has-dropdown">
		                            <a href="umineko.html">Umineko When They Cry</a>
		                            <ul>
		                                <li>
		                                    <a onclick="setModNameAndNavigate('Umineko Question (Ch. 1-4)')">Question Arcs</a>
		                                </li>
		                                <li>
		                                    <a onclick="setModNameAndNavigate('Umineko Answer (Ch. 5-8)')">Answer Arcs</a>
		                                </li>
		                            </ul>
		                        </li>
		                        
		                    </ul>
		                </div>
		                
		                <div class="module widget-handle language left">
		                    <ul class="menu">
		                        <li class="has-dropdown">
		                            <a href="#">More</a>
		                            <ul>
		                                <li>
		                                    <a href="updater.html" target="_self">Patch updater</a>
		                                </li>
		                                <li>
		                                    <a href="troubleshoot.html" target="_self">Troubleshoot</a>
		                                </li>
		                            </ul>
		                        </li>
		                    </ul>
		                </div>
		            </div>
		            
		        </div>
		    </nav>
		
		</div>

		<!-- Only elements inside this <div id="app"> will be monitored by Vue.
			 The "v-cloak" tells Vue to disable showing this element until it has finished loading. -->
		<div id="app" class="main-container" v-cloak>
			<section class="page-title page-title-4 bg-secondary">
					<div class="container">
						<div class="row">
							<div class="col-md-8">
								<h3 class="uppercase mb0">{{ selectedMod }}</h3>
							</div>
							<div class="col-md-4 text-right">
								<ol class="breadcrumb breadcrumb-2">
									<li>
										<a href="index.html" target="_self">Home</a>
									</li>
									<li class="active">{{ selectedMod }}<br></li>
								</ol>
							</div>
						</div>
					</div>
			</section>
			<transition name="fade">
			<div class="container text-center mt40 install-finished-div" v-show="installFinished">
			<hr>
			<!-- Displayed when the install finishes successfully -->
			<section class="section-small-padding" v-show="!installFailed">
				<h1 style="color: green;">The install has finished!</h1>
				<div v-if="selectedMod === null ? false : selectedMod.includes('Umineko')">
					<p>For Umineko, please note that Steam save synchronization is disabled.</p>
					<p>This is to <b>prevent the game breaking if steam ever updates the game.</b></p>
					<p>Please run "EnableSteamSync.bat" file in the game folder if you really want to enable it</p>
					<p>Please check out our <a href="http://07th-mod.com/wiki/Umineko/Umineko-Part-0-TroubleShooting-and-FAQ/">Umineko FAQ</a> for common problems</p>
				</div>
				<div v-else>
					<p>Warning: The first time you start the game, the game will 'freeze' on a <b>white screen</b> for up to 2 minutes while scripts are compiling.</p>
					<p>This is normal, however if the game freezes on a <b>black screen</b> it's likely something went wrong - please contact us on Discord if this happens.</p>
					<p>Please check out our <a href="http://07th-mod.com/wiki/Higurashi/FAQ/">Higurashi FAQ</a> for common problems</p>
				</div>
			</section>
			<!-- Displayed when the install fails-->
			<section class="section-small-padding" v-show="installFailed">
				<h1 style="color: red;">The install failed :(</h1>
				<p> Please check the last few mesages in the terminal output for more information. </p>
				<div v-if="selectedMod === null ? false : selectedMod.includes('Umineko')">
					<p>Common Umineko install failure reasons go here.</p>
				</div>
				<div v-else>
					<p>A common reason for the Higurashi installation to fail is that you have an <b>old version of the game</b>.</p>
					<p>The installer would have detected this and mentioned you have an old Unity version. Please make sure your game is up to date before installing the game.</p>
				</div>
			</section>
			<!-- Displayed always the install fails-->
			<div class="mb40">
				<p>If you still have problems, queries, or just want to discuss the game, please join our discord server: <a href="https://discord.gg/pf5VhF9">https://discord.gg/pf5VhF9</a></p>
			</div>
			<hr>
			</div>
			</transition>
			<transition name="fade">
			<section class="section-small-padding" v-show="!installStarted">
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<div class="tabbed-content button-tabs vertical">
									<!-- Left Hand Column displaying list of submods that can be installed (eg "Full Patch", "Voice Only") -->
									<ul class="tabs col-md-3">
										<h4 class="uppercase mb40">Choose Patch</h4>
										<li
										v-for="subMod in possibleSubMods"
										v-on:click="selectedSubMod = subMod; showTroubleshooting = false;"
										v-bind:class="{ active: selectedSubMod === subMod}"
										>
											<div class="tab-title"><span> Install {{ subMod.subModName }} Patch</span></div>
										</li>

										<li><br><hr></li>
										<li v-if="selectedSubMod !== null"
											v-on:click="showTroubleshooting = !showTroubleshooting;"
											v-bind:class="{ active: showTroubleshooting}">
										<div class="tab-title" ><span>"{{ selectedSubMod.subModName }} patch"  Troubleshooting</span></div>
										</li>
									</ul>
									<!-- Right Hand Column: Display Troubleshooting Help (only when troubleshooting button clicked) -->
									<div class="content col-md-9" v-if="showTroubleshooting && (selectedSubMod !== null)">
										<h4 class="uppercase">"{{ selectedSubMod.subModName }} patch" Troubleshooting</h4>
										<hr>
										<p>If you have problems running or installing the game, see the below troubleshooting tools:</p>
									</div>
									<!-- Right Hand Column: Displaying submod description, install options, and 'start install' buttons -->
									<ul class="content col-md-9">
										<div v-if="(showTroubleshooting == false) && (selectedSubMod !== null)">
											<div class="tab-content">
												<h4 class="uppercase ">{{selectedSubMod.subModName}} Patch</h4>
												<hr>
												<p>{{selectedSubMod.description}}</p>
												<!-- Install options, displayed as radio buttons and checkboxes -->
												<h4 class="uppercase">Choose Mod Options</h4>
												<div class="installer-options-group" v-for="modOptionGroup in selectedSubMod.modOptionGroups">
													<h5 class="uppercase"> {{ modOptionGroup.name }} </h5>
													<div v-for="radioOption in modOptionGroup.radio">
														<input class="form-check-input" type="radio" name="exampleRadios" v-bind:id="radioOption.id" v-bind:value="radioOption.id" v-model="modOptionGroup.selectedRadio">
														<label class="form-check-label" v-bind:for="radioOption.name">
															{{ radioOption.name }}
														</label>
													</div>
													<div class="form-check" v-for="checkBoxOption in modOptionGroup.checkBox">
														<input class="form-check-input" type="checkbox" v-bind:id="checkBoxOption.id" v-bind:value="checkBoxOption.id" v-model="modOptionGroup.selectedCheckBoxes">
														<label class="form-check-label" v-bind:for="checkBoxOption.name">
															{{ checkBoxOption.name }}
														</label>
													</div>
												</div>
												<div v-if="!selectedSubMod.modOptionGroups.length"> There are no options for this mod variant. </div>
												<!-- Section allowing you to start install or choose game path to install -->
												<div class="button-tabs vertical">
													<h4 class="uppercase">Choose an install path</h4>
													<ul class="tabs">
														<li v-for="fullInstallConfig in fullInstallConfigs"
															v-on:click="doInstall(selectedSubMod, fullInstallConfig.path);"
															v-bind:key="fullInstallConfig.key">
															<div class="tab-title">
																Start Installation to "{{ fullInstallConfig.path }}"
															</div>
														</li>

														<li>
															<div class="tab-title" v-show="selectedSubMod!==null" v-on:click=doInstallManualPath()>
																Choose Install Path Manually
															</div>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</ul>
								</div>
							</div>
						</div>
					</div>
			</section>
			</transition>
			<transition name="fade">
			<section class="section-small-padding" v-show="installStarted">
					<div class="container">
						<h3> Overall Progress: {{ overallPercentage }}% </h3>
						<h5> {{ overallTaskDescription }} </h5>
						<div class="progress">
							<div id="overallProgressBar" class="progress-bar installer-progress-bar" :style="{width: overallPercentage + '%'}" role="progressbar" v-bind:aria-valuenow="overallPercentage" aria-valuemin="0" aria-valuemax="100" >
								<span class="sr-only">{{ overallPercentage }}% Complete</span>
							</div>
						</div>

						<h3> Subtask Progress: {{ subTaskPercentage }}% </h3>
						<h5> {{ subTaskDescription }} </h5>
						<div class="progress">
							<div id="subTaskProgressBar" class="progress-bar installer-progress-bar" :style="{width: subTaskPercentage + '%'}" role="progressbar" v-bind:aria-valuenow="subTaskPercentage" aria-valuemin="0" aria-valuemax="100" >
								<span class="sr-only">{{ subTaskPercentage }}% Complete</span>
							</div>
						</div>

						<h3>Terminal:</h3>
						<div id="terminal"><p>Terminal Output</p></div>
					</div>
			</section>
			</transition>
			<section class="section-small-padding bg-secondary">
			<div class="container">
				<div id="modNews" class="installer-markdown"></div>
			</div>
			</section>
		</div>

				
		<script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/parallax.js"></script>
        <script src="js/scripts.js"></script>
		<script src="js/vue.js"></script>
		<script src="js/marked.min.js"></script>
		<script src="python-patcher-rest-lib.js"></script>
		<script src="python-patcher-lib.js"></script>
    </body>
</html>
