
<!doctype html>
<html lang="en">
    <head>
		<link id="favicon" rel="icon" type="image/png" href="favicon.png" />
        <meta charset="utf-8">
        <title>07th-Mod Installer</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/theme.css" rel="stylesheet" type="text/css" media="all" />
		<link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
		<link href="style.css" rel="stylesheet" type="text/css" media="all" />
        <link href='https://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
    </head>
    <body>
		<!-- Only elements inside this <div id="app"> will be monitored by Vue.
		The "v-cloak" tells Vue to disable showing this element until it has finished loading. -->
		<div id="app" class="main-container" v-cloak>
		<div class="nav-container">
		    <nav>
		        <div class="nav-bar">
		            <div class="module left">
		                <a href="index.html">
		                    <img class="logo logo-dark" alt="07th-Mod Installer" src="img/logo-07th.png">
		                </a>
		            </div>
		            <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
		                <i class="ti-menu"></i>
		            </div>
		            <div class="module-group right">
		                <div class="module left">
							<dropdown-game-menu></dropdown-game-menu>
		                </div>
		            </div>
		        </div>
		    </nav>
		</div>

		<div>
			<snack-bar></snack-bar>
			<section class="page-title page-title-4 bg-secondary">
					<div class="container">
						<div class="row">
							<div class="col-md-8">
								<h3 class="uppercase mb0">{{ selectedMod }}</h3>
							</div>
							<div class="col-md-4 text-right">
								<ol class="breadcrumb breadcrumb-2">
									<li>
										<a href="index.html" target="_self">Home</a>
									</li>
									<li class="active">{{ selectedMod }}<br></li>
								</ol>
							</div>
						</div>
					</div>
			</section>
			<transition name="fade">
			<div class="container mt40 install-finished-div" v-show="installFinished">
			<hr>
			<!-- Displayed when the install finishes successfully -->
			<section class="section-small-padding" v-show="!installFailed">
				<h1 style="color: green;">The install was successful!</h1>
				<h4>IMPORTANT INFO BEFORE YOU PLAY</h4>
				<div v-if="selectedMod === null ? false : selectedMod.includes('Umineko')">
					<h4>⚠️We <b>highly</b> recommend you read the <a href="https://07th-mod.com/wiki/Umineko/Umineko-Part-0-TroubleShooting-and-FAQ/">Umineko FAQ</a><br>for known issues with our mod.</h4>
					<p>For Umineko, please note that Steam save synchronization is disabled.</p>
					<p>This is to <b>prevent the game breaking if steam ever updates the game.</b></p>
					<p>Please run "EnableSteamSync.bat" file in the game folder if you really want to enable it</p>
				</div>
				<div v-else>
					<h4>⚠️We <b>highly</b> recommend you read the <a href="https://07th-mod.com/wiki/Higurashi/FAQ/">Higurashi FAQ</a><br>for known issues with our mod.</h4>
					<p>⚠️<strong>Warning</strong>: The first time you start the game, the game will 'freeze' on a <b>white screen</b> for up to 2 minutes while scripts are compiling.</p>
					<p>This is normal, however if the game freezes on a <b>black screen</b> it's likely something went wrong - please contact us on Discord if this happens.</p>
				</div>
				<br>
				If you still have problems, queries, please follow the <a href="https://07th-mod.com/wiki/Installer/support/">Support Checklist</a>.
				We also have a discord server: <a href="https://discord.gg/pf5VhF9">https://discord.gg/pf5VhF9</a>
			</section>
			<!-- Displayed when the install fails-->
			<section class="section-small-padding" v-show="installFailed">
				<h1 style="color: red;">The install failed :(</h1>
				<p> Please check the last few mesages in the terminal output for more information. </p>
				<div v-if="selectedMod === null ? false : selectedMod.includes('Umineko')">
					<p>Please make sure you have a legal copy of the game, and that you have enough free disk space to install the patch.</p>
				</div>
				<div v-else>
					<p>A common reason for the Higurashi installation to fail is that you have an <b>old version of the game</b>.</p>
					<p>The installer would have detected this and mentioned you have an old Unity version. Please make sure your game is up to date before installing the game.</p>
				</div>
			</section>
			<!-- Displayed always-->
			<hr>
			<div class="mb40">
				<h4>⚠️ Game/Mod Uninstall Warning</h4>
				<p>
					<strong>Steam (and possibly other launchers) will not properly uninstall the game/mod.</strong><br>
					To properly uninstall the game, manually delete the game folder: <strong>{{ selectedInstallPath }}</strong><br>
					After the folder is deleted, you can run the Steam uninstaller to remove the game from your game library.<br>
					Save files should be kept even after an uninstall, but check section 4 of <a href="https://07th-mod.com/wiki/Installer/support/">the installer support page</a> if you want to find your saves.
				</p>
			</div>
			<hr>
			<div class="mb40">
				<h4>Temporary Downloads Cleanup</h4>
				<p>For <strong>Higurashi</strong>, temporary downloads are deleted on a successful install. No action is necessary</p><br>
				<p>For <strong>Umineko</strong>, if you chose to keep downloads, they are in the</p>
				<p><strong>07th-mod_installer\install_data\[GAME NAME] Downloads</strong> folder</p>
				<p>Please make sure your game works correctly before deleting the downloads, as you may wish to re-install.</p>
				<p>You can also back-up the downloads if you wish to install again in the future.</p>
			</div>
			<hr>
			<div class="mb40">
				<h4>Install Information and Log Files</h4>
				<p>
					The mod was installed to: <strong>{{ selectedInstallPath }}</strong><br>
					Check your browser downloads for the install logs (<code>07th-mod-logs.zip</code>), or manually open:<br><strong>{{ logFilePath }}</strong>
				</p>
			</div>
			<hr>
			</div>
			</transition>
			<transition name="fade">
				<section class="section-small-padding" v-show="installStarted">
						<div class="container">
							<div class="alert alert-danger" role="alert" v-if="!installFinished"><strong>
								To stop the installation, close the console window. Download progress will be kept (resuming downloads is supported).
							</strong></div>
							<h3> Overall Progress: {{ overallPercentage }}% </h3>
							<h5 style="font-family: monospace"> {{ overallTaskDescription }} </h5>
							<div class="progress">
								<div id="overallProgressBar" class="progress-bar installer-progress-bar" :style="{width: overallPercentage + '%'}" role="progressbar" v-bind:aria-valuenow="overallPercentage" aria-valuemin="0" aria-valuemax="100" >
									<span class="sr-only">{{ overallPercentage }}% Complete</span>
								</div>
							</div>

							<h3> Subtask Progress: {{ subTaskPercentage }}% </h3>
							<h5 style="font-family: monospace"> {{ subTaskDescription }} </h5>
							<div class="progress">
								<div id="subTaskProgressBar" class="progress-bar installer-progress-bar" :style="{width: subTaskPercentage + '%', transition: subTaskPercentage == 0 ? 'none' : 'width .6s ease' }" role="progressbar" v-bind:aria-valuenow="subTaskPercentage" aria-valuemin="0" aria-valuemax="100" >
									<span class="sr-only">{{ subTaskPercentage }}% Complete</span>
								</div>
							</div>

							<h3>Terminal:</h3>

							<div id="terminal"><p>Terminal Output</p></div>
							<input type="checkbox" id="autoscrollCheckbox" name="autoscrollCheckbox" checked>
							<label for="autoscrollCheckbox">Enable Auto Scroll</label>
							<div class="tabbed-content button-tabs vertical">
								<div class="tab-title mb40" style='width:200px;float:right;' v-on:click="getLogsZip(selectedSubMod, selectedInstallPath)">
									<span>Download Logs</span>
								</div>
							</div>
						</div>
				</section>
			</transition>
			<transition name="fade">
			<section class="section-small-padding">
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<div class="tabbed-content button-tabs vertical">
									<!-- Right Hand Column: Displaying submod description, install options, and 'start install' buttons -->
									<ul class="col-md-8">
										<section class="section-small-padding" v-show="partiallyUninstalledPaths.length > 0">
											<h3>⚠️Warning: The following games were uninstalled via Steam, but the mod files still remain on disk</h3>
											<strong>Please manually delete these folders to free disk space and avoid problems with the installer. Click to open each path:</strong>
											<ul class="bullets">
											<li v-for="path in partiallyUninstalledPaths"><a href="#" v-on:click='showInFileBrowser(path)'>{{ path }}</a></li>
											</ul>
										</section>
										<br><br>
										<div v-if="metaInfo !== null">
										<div class="alert alert-danger" role="alert"
										v-if="	selectedSubMod !== null &&
												selectedSubMod.family === 'higurashi' &&
												metaInfo.operatingSystem === 'linux'"><strong>
												Warning: GNOME Desktop (the default on Ubuntu) will cause Higurashi Ep.4 and upwards to crash the entire desktop when you start the game.
												This happens even on the base game (without any mods applied).<br><br>
												A workaround for this is to install XFCE desktop. You can follow this guide to install XFCE desktop (it can be installed alongside GNOME).
												Please make sure you can launch the base game before applying any mods (for ease of installation, please don't make any saves on the base game).
										</strong></div>
										<div class="alert alert-warning" role="alert" v-if="!metaInfo.installAlreadyInProgress && metaInfo.lockFileExists"><strong>
											Warning: It appears an install is already in progress, or the last install was closed unexpectedly.<br>
											Please double check that there is only one console window open, and the install is not already running.<br>
											If you force closed the installer last time you ran it, then you can ignore this message.
										</strong></div>
										</div>
										<div v-if="possibleSubMods.length > 1">
											<h4 class="uppercase">Choose Patch</h4>
											<hr>
											Please choose which variant of the patch you would like to install:
											<p>
											<div v-for="subMod in possibleSubMods" class="d-inline-block">
												<input class="form-check-input invisible" type="radio" v-bind:id="subMod.subModName" v-bind:name="subMod.subModName" v-bind:value="subMod" v-model="selectedSubMod">
												<label class="form-check-label" v-bind:for="subMod.subModName">
													<li v-bind:class="{ active: selectedSubMod === subMod}"><div class="tab-title"><span>{{ subMod.subModName }}</span></div></li>
												</label>
											</div>
											</p>
										</div>
										<div v-if="selectedSubMod !== null">
											<div class="tab-content">
												<h4 class="uppercase ">{{selectedSubMod.subModName}} Patch</h4>
												<hr>
												<!-- Show the appropriate description depending on the descriptionID -->
												<div v-if="selectedSubMod.descriptionID === 'higurashiFull'">
													<div v-if="selectedSubMod.modName === 'Console Arcs'">
														<strong style="color: red">WARNING: This will overwrite your Himatsubushi Ch.4 installation with the console arcs.</strong><br>
														For best results, we recommend you install to a fresh, unmodded Himatsubushi Ch.4 installation, however overwriting a modded version will probably still work.<br>
														You can backup your existing Himatsubushi Ch.4 version by making a copy of the game folder.<br>
														<br><br>
														The console arcs should be played at the points of the story and in the order indicated by the below flowchart.<br>
														<a href='img/flow.png' target='_blank'><img src='img/flow.png' width='400'></a><br><br>
													</div>
													This option combines all the patches available to create the best experience possible. It contains:
													<ul class="bullets">
														<li>Full voiceover</li>
														<li>PS3 backgrounds and CGs in Full HD</li>
														<li>PS3 sprites with lipsync in 1440p</li>
														<li>Updated MangaGamer sprites in 1440p</li>
														<li>Upgraded user interface</li>
														<li>Opening videos</li>
													</ul>
													<br>
													<div v-if="selectedSubMod.modName === 'Onikakushi Ch.1'">
														(NOTE: There is no OST Remake Option for Onikakushi, because Onikakushi does not use any of the OST Remake tracks.)
													</div>
												</div>
												<div v-else-if="selectedSubMod.descriptionID === 'higurashiVoiceOnly'">
													<h4><b>The voice-only patch may contain more bugs than the "Full" patch.
														We only offer limited support for the voice-only patch, except during initial release.</b></h4>

													<h4><b>If you switch between a Voice-Only install and Full install, you should do a fresh
														install of the game (or keep a unmodded copy of the game files handy)</b></h4>

													<h4><b><a href="https://07th-mod.com/wiki/Higurashi/Higurashi-Part-1.1---Voices-only-Patch/">See the wiki</a> for more info on the voice-only patch.</b></h4>

													This option <strong>only installs voices</strong>. No graphics are changed.<br><br>
													Features:<br>
													<ul class="bullets">
														<li>Full voiceover</li>
													</ul>
												</div>
												<div v-else-if="selectedSubMod.descriptionID === 'uminekoVoiceOnly'">
													This option only installs voice related options. No graphics are changed.<br>
													<ul class="bullets">
														<li>Full voiceover</li>
														<li>Mod menu added to adjust voice/music volume</li>
														<li>Playing with japanese text is not supported!</li>
													</ul>
												</div>
												<div v-else-if="selectedSubMod.descriptionID === 'uminekoQuestionFull'">
													<strong>
														NOTE: ADV mode is switchable for the Question Arcs, but not for the Answer Arcs.<br>
														Please keep this in mind when you eventually install the Answer Arcs.
													</strong><br><br>
													This patch installs all PS3 content that the team has ported so far:
													<ul class="bullets">
														<li>NEW: Has ADV mode, where text is shown in a textbox at the bottom of the screen. In the Question Arcs only, this can be toggled on or off at any time.</li>
														<li>NEW: Playing with Japanese Text is supported</li>
														<li>PS3 voices</li>
														<li>PS3 sprites</li>
														<li>PS3 CGs (event images)</li>
														<li>PS3 Backgrounds</li>
														<li>Remake of original OP with PS3 graphics OR (spoilery) PS3 Game's OP movie (user option on startup)</li>
														<li>DOES NOT add shader effects or lipsync from the PS3 game.</li>
													</ul>
												</div>
												<div v-else-if="selectedSubMod.descriptionID === 'uminekoAnswerFull'">
													<strong>NOTE: ADV mode is not in-game switchable for the answer arcs.</strong><br>
													Please select the "ADV-MODE" option if you want to play with ADV mode.<br><br>
													This patch installs all PS3 content that the team has ported so far:<br>
													<ul class="bullets">
														<li>NEW: Playing with Japanese Text is supported</li>
														<li>PS3 voices</li>
														<li>PS3 sprites</li>
														<li>PS3 CGs (event images)</li>
														<li>PS3 Backgrounds</li>
														<li>DOES NOT add shader effects or lipsync from the PS3 game.</li>
													</ul>
												</div>
												<div v-else-if="selectedSubMod.descriptionID === 'uminekoAnswerADV'">
													<strong>NOTE: ADV mode is not in-game switchable for the answer arcs.</strong><br>
													Please select the "NOVEL-MODE" option if you want to play with NOVEL mode.<br><br>
													This patch installs all PS3 content that the team has ported so far:<br>
													This patch is the same as the "full" variant except it adds ADV mode:
													<ul class="bullets">
														<li>WARNING: Playing with Japanese Text is NOT supported</li>
														<li>Has <b>ADV mode</b>, where text is shown in a textbox at the bottom of the screen.</li>
														<li>PS3 voices</li>
														<li>PS3 sprites</li>
														<li>PS3 CGs (event images)</li>
														<li>PS3 Backgrounds</li>
														<li>DOES NOT add shader effects or lipsync from the PS3 game.</li>
													</ul>
												</div>
												<div v-else-if="selectedSubMod.descriptionID === 'uminekoHaneOnscripterFull'">
													<h4>
														This patch can only be used on an original install of Umineko Hane (the old nscripter version) -
														it CANNOT be used on the newer Steam/Mangagamer release.
													</h4>
													<h4>This patch is only for WINDOWS. It does not work on Mac or Linux</h4>
													This mod merges the English translation of Umineko Hane together with PS3 graphics and an ADV mode patch.<br><br>
													It does not add voices, since Hane has never actually been released by Alchemist, and
													therefore not voiced.<br><br>
												</div>
												<div v-else-if="selectedSubMod.descriptionID === 'uminekoTsubasaOnscripterFull'">
													<h4>
														This patch can only be used on an original install of Umineko Tsubasa (the old nscripter version) -
														it CANNOT be used on the newer Steam/Mangagamer release.
													</h4>
													<h4>This patch is only for WINDOWS. It does not work on Mac or Linux</h4>
													This mod merges the English translation of Umineko Tsubasa together with PS3 graphics and an ADV mode patch.<br><br>
													It does not add voices, since Tsubasa has never actually been released by Alchemist, and
													therefore not voiced.<br><br>
												</div>
												<div v-else>
													No description for {{ selectedSubMod.descriptionID }} :(
												</div>
												<!-- Umineko Novel/ADV Mode Example Images Table (shown on all non-voice only Umineko options) -->
												<div v-if="selectedSubMod.family === 'umineko' && selectedSubMod.descriptionID !== 'uminekoVoiceOnly'">
													<table class="umineko-image-table-content">
														<thead>
															<tr>
																<th>NOVEL/Normal Mode</th>
																<th>ADV Mode</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td><img src="img/umineko/novel-mode-example.jpg"></td>
																<td><img src="img/umineko/adv-mode-example.jpg"></td>
															</tr>
														</tbody>
													</table>
													<table class="umineko-image-table-content">
														<thead>
															<tr>
																<th>Alchemist/PS3 sprites</th>
																<th>Mangagamer/Pachinko sprites</th>
																<th>Ryukishi sprites</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td><img src="img/umineko/sprite_alchemist.png"></td>
																<td><img src="img/umineko/sprite_pachinko.png"></td>
																<td><img src="img/umineko/sprite_potato.png"></td>
															</tr>
														</tbody>
													</table><br>
													A more detailed sprite comparison, with more characters, may be found <a href="https://07th-mod.com/wiki/Umineko/img/umineko-sprite-comparison.png">here</a>.
												</div>
												<!-- Section allowing you to start install or choose game path to install -->
												<div>
													<h4 class="uppercase mt40">Choose an install path</h4>
													<ul>
														<div v-if="showPathSelectionButtons">
															Currently Chosen Path:<br>
															<input v-bind:style="{'width':'99%', 'margin-bottom': '0px', 'background-color': !installPathValid ? '#ffdddd' : '#ffffff'}"
																		v-model="selectedInstallPath" placeholder="You can paste a path here if the below options don't work"
																		@focus="installPathFocussed = true" @blur="installPathFocussed = false">
															<div v-if="installPathFocussed" style="color: red"><strong>Use manual entry as a last resort (if the file-chooser below doesn't work)</strong></div>
															<div v-if="validationInProgress">
																<div v-if="selectedInstallPath !== null" style="color: goldenrod"><strong>Validating...</strong></div>
																<div v-if="selectedInstallPath == null"><strong>Please use the buttons below to select a path.</strong></div>
															</div>
															<div v-else>
																<div v-if="showPathSelectionButtons && installPathValid" style="color: green"><strong>Detected game at: {{ validatedInstallPath }} ✓</strong></div>
																<div v-if="!installPathValid" style="color: red"><strong>Couldn't detect game! ❌</strong></div>
															</div>
															<!-- Autodetected path buttons -->
															<ul class="installButtons">
																<li v-for="fullInstallConfig in fullInstallConfigs"
																	v-on:click="onChoosePathButtonClicked(fullInstallConfig.path);"
																	v-bind:key="fullInstallConfig.key">
																	<div class="tab-title mb16">
																		Use Autodetected Path: "{{ fullInstallConfig.path }}"
																	</div>
																</li>
															</ul>
															<!-- Select path manually button -->
															<li>
																<div class="tab-title" v-show="selectedSubMod!==null" v-on:click=onChoosePathButtonClicked()>
																	Select {{ {'mac':'Application (.app file)', 'windows':'Game Executable (.exe file)','linux':'Game Executable', null:'Game Executable'}[metaInfo.operatingSystem] }} Manually (Open File Dialog) <br>
																	NOTE: Check your task bar for a flashing icon if no window appeared.
																</div>
																<div v-if="metaInfo.operatingSystem === 'mac'">
																	MAC USERS: You must select a .app file. For example:<br>
																<b>/Users/[USERNAME]/library/application support/steam/steamapps/common/Higurashi When They Cry/HigurashiEp01.app</b>
																</div>
																<div v-else>
																	You can select one of the following: {{ selectedSubMod.identifiers }}<br><br>
																</div>
															</li>
														</div>
														<!-- If path was detected automatically, then don't show other path selection options unless asked -->
														<div v-else>
															<div v-if="installPathValid" style="color: green"><strong>Game was autodetected at: {{ validatedInstallPath }} ✓</strong></div>
															<div v-else-if="validationInProgress" style="color: goldenrod"><strong>Please wait, path detection in progress...</strong></div>
															<button class="button-small" v-on:click="showPathSelectionButtons = true">Choose a different path</button>
														</div>
													</ul>
												</div>
												<!-- Install options, displayed as radio buttons and checkboxes -->
												<div v-if="selectedSubMod.modOptionGroups.length > 0">
													<h4 class="uppercase mt40">Choose Mod Options</h4>
													<div class="installer-options-group" v-for="modOptionGroup in selectedSubMod.modOptionGroups">
														<h5 class="uppercase"> {{ modOptionGroup.name }} </h5>
														<div v-for="radioOption in modOptionGroup.radio">
															<div class="mod-option-group"
															v-bind:class="{'mod-option-group-active': modOptionGroup.selectedRadio === radioOption.id}"
															v-on:click="modOptionGroup.selectedRadio = radioOption.id">
																<input class="form-check-input" type="radio" v-bind:name="modOptionGroup.name" v-bind:id="radioOption.id" v-bind:value="radioOption.id" v-model="modOptionGroup.selectedRadio">
																<label class="form-check-label">{{ radioOption.name }}</label>
																<br>
																<span class="rendered-markdown" v-html="renderMarkdown(radioOption.description)"></span>
															</div>
														</div>
														<div class="form-check" v-for="checkBoxOption in modOptionGroup.checkBox">
															<div class="mod-option-group"
															v-bind:class="{'mod-option-group-active': modOptionGroup.selectedCheckBoxes.includes(checkBoxOption.id)}"
															v-on:click="modOptionGroup.selectedCheckBoxes = _.xor(modOptionGroup.selectedCheckBoxes, [checkBoxOption.id])">
																<input class="form-check-input" type="checkbox" v-bind:id="checkBoxOption.id" v-bind:value="checkBoxOption.id" v-model="modOptionGroup.selectedCheckBoxes">
																<label class="form-check-label">{{ checkBoxOption.name }}</label>
																<span class="rendered-markdown" v-html="renderMarkdown(checkBoxOption.description)"></span>
															</div>
														</div>
													</div>
													<!-- NOTE: this is not implemented properly - need proper system for implementing options common to all mods -->
													<h5 v-if="canInstallSteamGrid()" class="uppercase"> Common Options </h5>
													<label v-if="canInstallSteamGrid()" class="form-check mod-option-group" v-bind:class="{'mod-option-group-active': installSteamGrid}" for="installSteamGrid">
														<input type="checkbox" id="installSteamGrid" v-model="installSteamGrid">
														<label for="installSteamGrid"> Update Steamgrid Icons</label>
														<p>This option updates the header and icon art in the Steam app to match the mod's art style. All Higurashi and Umineko games will have their icons updated, not just the game being patched.</p>
														<table class="umineko-image-table-content umineko-image-table-horizontal">
														<tbody>
															<tr>
																<td>Original</td>
																<td><img src="img/steamgrid/header-original.jpg"></td>
															</tr>
															<tr>
																<td>Updated</td>
																<td><img src="img/steamgrid/header-updated.jpg"></td>
															</tr>
														</tbody>
														</table>
													</label>
												</div>
												<transition name="fade">
													<div v-if="installPathValid">
														<h4 class="uppercase mt40">Please confirm your install settings:</h4>
														<div class="mb40">
															<strong>Configuration</strong><br>
															Mod Name: {{ selectedMod }} <br>
															Patch Type: {{ selectedSubMod.subModName }} <br>
															Install Path: {{ validatedInstallPath === null ? "Not Selected" : validatedInstallPath }}" <br><br>
															<strong>Options</strong><br>
															Install Steam Grid: {{ installSteamGrid }}
															<div v-if="selectedSubMod.modOptionGroups.length == 0">
																There are no game specific options for this mod.
															</div>
															<div v-else v-for="modOptionGroup in selectedSubMod.modOptionGroups">
																<div v-if="modOptionGroup.selectedRadio === null && modOptionGroup.selectedCheckBoxes.length == 0">
																	{{ modOptionGroup.name + ': None' }}
																</div>
																<div v-else>
																	{{ (modOptionGroup.selectedRadio || '') + modOptionGroup.selectedCheckBoxes.join(', ') }}
																</div>
															</div>
															<br>
															<strong>Files to be downloaded</strong><br>
															<table class="umineko-image-table-content">
																<thead>
																	<tr>
																		<th style="width: 50px">DL</th>
																		<th style="width: 150px">File Name</th>
																		<th style="width: 100px">File Size</th>
																		<th style="width: 100%">Update Reason</th>
																	</tr>
																</thead>
																<tbody>
																	<tr v-for="fileInfo in downloadItemsPreview"
																	v-bind:class="{ active: fileInfo[2] === true, inactive: fileInfo[2] === false }">
																		<td v-if="fileInfo[2] === null"></td>
																		<td v-if="fileInfo[2] === true">✓</td>
																		<td v-if="fileInfo[2] === false">—</td>
																		<td>{{ fileInfo[0] }}</td>
																		<td>{{ fileInfo[1] }}</td>
																		<td>{{ fileInfo[3] }}</td>
																	</tr>
																</tbody>
															</table>
															<strong>
																<div v-if="numUpdatesRequired === 0" class="alert alert-warning">Warning: No updates detected. Mod options will still be installed, however.</div>
																<div class="alert" v-bind:class="[alertClassFromMaybeBool(haveEnoughFreeSpace)]">
																	Mod Install Disk Space: {{ freeSpaceAdvisoryString }}
																</div>
																<div class="alert" v-bind:class="[alertClassFromMaybeBool(CWDHaveEnoughFreeSpace)]">
																	Temporary Downloads Disk Space: {{ CWDFreeSpaceAdvisoryString }}
																</div>
															</strong>
														</div>
														<ul class="tabs button-tabs" v-show="selectedSubMod!==null">
															<li><div class="tab-title" v-on:click=doInstall()>
																<span v-if="fullUpdateRequired">Start the installation!</span>
																<span v-else>Start Update!</span>
															</div></li>
														</ul>
														<ul class="tabs button-tabs" v-show="selectedSubMod!==null && !fullUpdateRequired" style="float: right">
															<li>
																<div class="tab-title" v-on:click=askPerformFullInstall() style="background: darkred">
																	<span>Re-install from scratch</span>
																</div>
															</li>
														</ul>
													</div>
												</transition>
											</div>
										</div>
									</ul>
								</div>
							</div>
						</div>
					</div>
			</section>
			</transition>
			<section class="section-small-padding bg-secondary">
			<div class="container">
				<h3>
				<div v-if="changelogURL === null">
					📝 Changlog URL Missing! Tell the developers to fix it!
				</div>
				<div v-else>
					<a v-bind:href="changelogURL" target="_blank">📝 Click here to view the latest Changelog</a>
				</div>
				</h3>
				<div>{{ metaInfo.buildInfo }}</div>
			</div>
			</section>
		</div>
		</div>
		<script src="js/lodash.min.js"></script>
		<script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/parallax.js"></script>
        <script src="js/scripts.js"></script>
		<script src="js/vue.js"></script>
		<script src="js/purify.min.js"></script>
		<script src="js/marked.min.js"></script>
		<script src="marked-setup.js"></script>
		<script src="python-patcher-rest-lib.js"></script>
		<script src="python-patcher-vue-common.js"></script>
		<script src="python-patcher-lib.js"></script>
    </body>
</html>
