
<!doctype html>
<html lang="en">
    <head>
		<link id="favicon" rel="icon" type="image/png" href="favicon.png" />
        <meta charset="utf-8">
        <title>07th-Mod Installer Loading Screen</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/flexslider.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/theme.css" rel="stylesheet" type="text/css" media="all" />
		<link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
		<link href="style.css" rel="stylesheet" type="text/css" media="all" />
        <link href='https://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
    </head>
    <body>
		<div id="app" class="main-container" v-cloak>
			<div id="modal-container" >
				<modal v-bind:visible="installErrorDescription" v-on:close="installErrorDescription = ''">
					<h2 style="color: red;">Installer init failed, please read the below message</h2>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<strong>Error Message</strong>
								&nbsp;
								<a data-toggle="collapse" href="#collapse1"><u>(Show Details)</u></a>
							</h4>
						</div>
						<div class="panel-body">
							<pre>{{installErrorDescription}}</pre>
							<p>
								When you are ready, restart the installer by first closing all windows including the launcher, then start the installer again.<br><br>
								Please try to fix the issue, then restart the installer. We can also help you, but you need to download the install log and send it to our Discord server using the buttons below.
							</p>
						</div>
						<div id="collapse1" class="panel-collapse collapse">
							<div class="panel-body">
								<hr>
								<span style="white-space: pre-line; font-family: monospace;">{{detailedExceptionInformation}}</span>
							</div>
						</div>
					</div>
					<a class="btn" v-on:click="installErrorDescription = ''">OK</a>
					<a class="btn" v-on:click="getLogsZip(selectedSubMod, selectedInstallPath)">Download Install Logs</a>
					<a class="btn" href="https://discord.gg/pf5VhF9" target="_blank">Visit 07th-mod Discord server (send install log here!)</a>
				</modal>
			</div>
			<div class="main-container">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<h1>07th-Mod Installer</h1>
					<h3>Please Wait...</h3>
					<div id="terminal"><p>Terminal Output</p></div>
					<input type="checkbox" id="autoscrollCheckbox" name="autoscrollCheckbox" checked>
					<label for="autoscrollCheckbox">Enable Auto Scroll</label>
					<div v-if='!initCompleted'>
						<p v-if='installErrorDescription === ""'>Status: Waiting for init to complete ({{ pollCount }})
						<p v-else>Status: Init Failed
						<div class="alert alert-warning" v-if='timeoutError && installErrorDescription === ""'>
							<p>
								<b>Warning:</b> {{ initTimeoutSeconds }} seconds and loading is still not complete.<br><br>
								Please try the following:
								<ol class="installer-ordered">
									<li>Wait at least 20 minutes to see if loading completes (as a test to see if something is very slow, rather than completely broken)</li>
									<li>Try restarting the installer (close everything, then start again)</li>
									<li>Restart your whole computer and try again.</li>
									<li>Try to launch the installer in safe mode.</li>
								</ol>
								This may indicate your antivirus software or internet connection is stalling the installer.<br><br>
								<a href="https://07th-mod.com/wiki/Installer/support/" target="_blank">Contact the 07th-mod team</a> if this happens repeatedly, and provide a screenshot of this page.
							</p>
						</div>
					</div>
					<div v-else><p>Status: Init completed, launching main page. <a href=".">Click here if redirect doesn't happen automatically.</a></p></div>
				</div>
				<div class="col-md-1"></div>
			</div>
		</div>
		</div>
		<script src="js/lodash.min.js"></script>
		<script src="js/jquery.min.js"></script>
		<script src="js/vue.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="python-patcher-rest-lib.js"></script>
		<script src="python-patcher-vue-common.js"></script>
		<script src="python-patcher-loading-screen.js"></script>
		<script>
			// Warn the user if they are on Internet Explorer - we don't support it!
			if(window.navigator.userAgent.match(/(MSIE|Trident)/)) {
				alert('ERROR: The 07th-Mod Installer does not support Internet Explorer!\n\nPlease install Microsoft Edge, Firefox, or Chrome. Please also restart the installer.');
			}
		</script>
		</body>
	</html>
