.modButton {
    font-size: 1.2em;
}

.modButton img {
    height: 5em;
    width: 5em;
    text-align: center;
    display: block;
    margin: auto;
}

#terminal {
    overflow-y:scroll;
    height: 30em;
    font-family: monospace;
    white-space: pre;
}